@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Recursive:wght@300..1000&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


:root{
    --cor01: #232830;
    --cor02: #FF7575;
    --cor03: #909090;
    --fonte01: "Poppins", sans-serif;
    --fonte02: "Recursive", sans-serif;
    --fonte03: "Source Sans 3", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor01);
}

header{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 50px;
}

header > p{
    font-family: var(--fonte01);
    font-size: 1.81rem;
    color: white;
    text-align: center;
}


header > h2{
    font-family: var(--fonte01);
    font-size: 30px;
    color: white;
    font-weight: 400;
}

header > img{
    padding: 30px;
    margin: auto;
    display: block;
}

header > h1{
    font-family: var(--fonte02);
    font-size: 4.44rem;
    color: var(--cor02);
    text-align: center;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0%;
}

.barra{
    display: inline-flex;
    position: absolute;
    left: 70%;
    top: 80px;
}

.barra > p{
    font-family: var(--fonte01);
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    margin-left: 20px;
    display: inline-block;
}

#logo{
    height: 194.45px;
    width: 204.08px;
}

#nav{
    border-top: 1px solid #4d4d4d4b;
    padding-top: 15px;
    color: #909090;
    font-family: var(--fonte02);
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 50px;
}

.icons-container{
    display: flex;
    gap: 5px;
}

.artigo{
    width: 340px;
    height: 390px;
    border-radius: 22px;
    background-color: white;
    padding: 20px;
    position: relative;
    display: grid;
    align-content: center;
    align-items: center;
}

.artigo h2{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-family: var(--fonte01);
    font-weight: 600;
}

.artigo p{
    font-weight: normal;
    font-size: 1rem;
    font-family: var(--fonte01);
    margin-bottom: 4px;
}

.artigo img{
    width: 337px;
    height: 160px;
    margin: auto;
    border-radius: 20px;
}

#mini-footer{
    margin-top: 20px;
    display: inline-flex;
    gap: 30px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 27px;
}

.nav-list{
    margin-top: 100px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    
}

.nav-list > p{
    font-family: var(--fonte02);
    font-style: italic;
    color: var(--cor03);
    font-size: 1.5rem;
}


.nav-list #grifo{
    color: var(--cor02);
    font-weight: bold;
    position: relative;
}

.nav-list #grifo::after{
    content: '';
    position: absolute;
    top: -15px;
    left: -9px;
    right: 0;
    height: 2px;
    width: 300%;
    margin: auto;
    background-color: var(--cor02);
    border-radius: 2px;
}

footer{
    margin-top: 60px;
    padding: 70px 90px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #4d4d4d4b;
    display: flex;
    background-color: var(--cor01);
    flex-wrap: wrap;
}

footer h2{
    font-family: var(--fonte03);
    font-size: 1.9rem;
    color: white;
    margin-right: auto;
}

.twitter{
    font-family: var(--fonte03);
    font-size: 1.2rem;
    color: white;
    background-color: #4699E0;
    border-radius: 5px;
    margin-left: 30px;
    padding: 6px 8px;
    white-space: nowrap;
}

.footer-right{
    display: flex;
    gap: 15px;
    align-items: center;
}

#tw1{
    margin-left: 10px
}

#tw2{
    margin-left: 50px;
}
